.auth-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  gap: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-x: hidden;
}

.user-info {
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  padding: 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preferences {
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  gap: 12px;
}

.preference {
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-field {
  background: rgba(255, 255, 255, 0);
}

.bio-field {
  margin-top: 10px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0);
}

.auth-form-errors {
  color: #c4256a;
}

.error-message {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
  border-style: solid;
  padding-left: 8px;
  margin-bottom: 12px;
}

.submit-button {
  width: 100%;
  align-self: center;
  margin: 12px;
  background-color: #c4256a !important;
  border-color: #c4256a !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.profile-picture-display {
  width: 100%;
  height: 100%;
}
