.auth-form-container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-align: center;
  font-size: 24px;
}
.auth-form-container input {
  font-size: 0.8em;
}
.auth-form-container .submit-button {
  font-size: 0.8em;
}

.auth-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
