:root {
  --message-border-radius: 15px;
}

.chat-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  overflow: hidden;
}

.chat-page-header {
  background: rgba(255, 255, 255, 0.6);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.header-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.match-img {
  width: 56px;
  height: 56px;
  margin-right: 15px;
  border-radius: 20px;
}

.chat-page-messages {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.chat-message {
  background: rgba(255, 255, 255, 0.6) !important;
  align-self: flex-start;
  display: flex;
  max-width: 80%;
  padding: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: var(--message-border-radius);
  border-bottom-left-radius: var(--message-border-radius);
  border-bottom-right-radius: var(--message-border-radius);
}

.chat-message.owned {
  align-self: flex-end;
  background: rgba(196, 37, 106, 0.6) !important;
  border-top-left-radius: var(--message-border-radius);
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--message-border-radius);
  border-bottom-right-radius: var(--message-border-radius);
}

.chat-message-input-container {
  padding: 10px;
}

.send-button {
  border-color: #c4256a !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.message {
  float: left;
  padding-right: 5px;
}

.timestamp {
  float: right;
  font-size: small;
  color: rgb(82, 82, 82);
  align-self: flex-end;
  width: 50px;
}
