:root {
  --message-border-radius: 15px;
}

.chat-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  flex: 1;
  overflow: hidden;
}

.chat-page-header {
  background-color: lightgray;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}

.chat-page-messages {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.chat-message {
  background-color: #0099ee;
  align-self: flex-start;
  max-width: 80%;

  padding: 10px;

  border-top-left-radius: 0px;
  border-top-right-radius: var(--message-border-radius);
  border-bottom-left-radius: var(--message-border-radius);
  border-bottom-right-radius: var(--message-border-radius);
}

.chat-message.owned {
  align-self: flex-end;
  background-color: #9977ee;

  border-top-left-radius: var(--message-border-radius);
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--message-border-radius);
  border-bottom-right-radius: var(--message-border-radius);
}

.chat-message-input-container {
  padding: 10px;
}

.message {
  float: left;
  padding-right: 5px;
}

.timestamp {
  float: right;
  font-size: small;
  color: rgb(82, 82, 82);
}

.date-devider {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}