.spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile-page {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  overflow-y: scroll;
  gap: 15px;
  width: 100%;
  padding-top: 10px;
}

.edit-profile-form-list-group {
  width: 90%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(115, 113, 113);
}

.list-group-item {
  background: rgba(255, 255, 255, 0.4) !important;
}

.profile-update-save-button {
  border-color: #c4256a !important;
  background-color: #c4256a !important;
  margin-top: 10px;
  margin-bottom: 8px;
  border-radius: 16px !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.profile-field-label {
  color: gray;
}
.profile-field-label.changed {
  color: black;
}

.profile-picture-input-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}
