.evaluationButton {
  position: relative;
  border-radius: 50px !important;
  width: 40%;
  height: 35px !important;
  margin-left: 7%;
  margin-top: 10px;
  font-size: 23px !important;
  line-height: 17px !important;
}

.buttonContainer {
  position: absolute;
  width: 100%;
  bottom: 80px;
}
