.evaluationButton {
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #c4256a !important;
  border-color: #c4256a !important;
  font-size: 26px !important;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.noMoreUsersError {
  font-size: 25px;
  color: #c4256a;
  width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.errorImage {
  font-size: 110px;
  color: #c4256a;
  padding: 10px;
  border-radius: 20px;
}

.errorText {
  font-weight: bold;
}
