.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 2px;
  padding: 8px;
  padding-top: 12px;
  background: rgba(255, 255, 255, 0.6) !important;
}

.navbar-button {
  width: 50px;
  height: 50px;
  background-color: #c4256a !important;
  border-radius: 50% !important;
  border: none !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  opacity: 0.7;
}
.navbar-button.current-page {
  opacity: 1;
}
