.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #c4256a;
}

.navbar-button {
  width: 60px;
  color: #c4256a;
}

.testt {
  align-self: flex-end;
  border-radius: 20px;
  margin: 8px;
  background-color: #c4256a;
  border-color: #c4256a;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
