.match-list {
  display: flex;
  flex-direction: column;
}
.match-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.match-alias-display {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}
.match-list-item:active {
  background-color: #cccccc;
}

.match-profile-picture {
  border-radius: 50%;
  height: 80px;
}
