.match-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.match-list-item {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  gap: 20px;
  background: rgba(255, 255, 255, 0.6) !important;

  height: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
}

.match-alias-display {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

.match-list-item:active {
  background-color: #cccccc;
}

.last-message {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  max-height: 24px;
}

.match-profile-picture {
  display: flex;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
