body {
  margin: 0;
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
.app-container.loaded {
  background-image: url("./background-img.jpg");
  background-size: cover;
}

.page {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.icon-button-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
