.personal-page {
  overflow-y: scroll;
}

.profile-page {
  display: flex;
  margin-top: 12px;
  justify-content: center;
}

.profile-card {
  gap: 8px;
  width: 80dvw !important;
  background: rgba(255, 255, 255, 0.6) !important;
}

.card-content {
  margin-bottom: 8px !important;
}

.bio {
  margin-top: 8px;
  font-size: medium;
  background: rgba(255, 255, 255, 0.2) !important;
}

.edit-button {
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center !important;
  align-self: flex-end;
  border-radius: 20px !important;
  margin: 8px;
  background-color: #c4256a !important;
  border-color: #c4256a !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;
}
