.profile-page {
  display: flex;
  margin: 24px;
  justify-content: center;
}

.profile-card {
  gap: 8px;
  margin-bottom: 16px;
  width: 80dvw !important;
  height: 85dvb !important;
  background: rgba(255, 255, 255, 0.7) !important;
}

.card-content {
  margin-bottom: 8px !important;
}

.bio {
  margin-top: 8px;
  font-size: medium;
  height: 75% !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

.edit-button {
  width: 60px;
  align-self: flex-end;
  border-radius: 20px !important;
  margin: 8px;
  background-color: #c4256a !important;
  border-color: #c4256a !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;
}
